{% extends "default.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<table class="table">
    <thead class="thead-inverse">
    <tr>
        <th>Nome</th>
        <th>HiRes lifetime</th>
        <th>LowRes lifetime</th>
        <th>Status</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    {% for channel in channels %}
    <tr>
        <td>
            {{ channel.name }}
        </td>
        <td>{{ channel.hiresLifetime }}</td>
        <td>{{ channel.lowresLifetime }}</td>
        <td>
            {% if channel.status %}
            <span class="badge badge-success">Habilitado</span>
            {% else %}
            <span class="badge badge-primary">Desabilitado</span>
            {% endif %}
        </td>
        <td>
            <a class="btn btn-primary" href="{% url 'video:channel_update' channel.slug  %}"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-primary" href="{% url 'video:channel_delete' channel.slug  %}"><i class="fa fa-trash-o"></i></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    <a class="btn btn-primary" href="{% url 'video:channel_create' %}"><i class="fa fa-plus"></i></a>
{% endblock %}
