{% extends "default.html" %}

{% block content %}
<table class="table">
    <thead class="thead-inverse">
    <tr>
        <th>Username</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Status</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.name }}</td>
        <td>
            <a class="btn btn-primary" href="{{ user.id }}"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-primary" href="{{ user.id }}"><i class="fa fa-trash-o"></i></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    <a class="btn btn-primary" href="{% url 'account:user_list' %}"><i class="fa fa-plus"></i></a>
{% endblock %}
